<!DOCTYPE html>
<html lang="ru" class="compensate-for-scrollbar">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ title }}</title>
    {{#if @global.publicPath }}
        <base href="{{ @global.publicPath }}">
    {{/if}}
    <!-- inject:css -->
    <!-- endinject -->
</head>
<body>
{{#block "header"}}{{/block}}
{{#block "main"}}{{/block}}
{{#block "footer"}}{{/block}}

<!-- inject:js -->
<!-- endinject -->
</body>
</html>
