@mixin sprite-width($sprite) {
    width: nth($sprite, 2);
}

@mixin sprite-height($sprite) {
    height: nth($sprite, 3);
}

@mixin sprite-position($sprite) {
    $sprite-offset-x: nth($sprite, 4);
    $sprite-offset-y: nth($sprite, 5);
    background-position: $sprite-offset-x $sprite-offset-y;
}

@mixin sprite-image($sprite) {
    $sprite-image: nth($sprite, 1);
    background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
    $sprite-image: nth($sprite, 1);
    $sprite-offset-x: nth($sprite, 4);
    $sprite-offset-y: nth($sprite, 5);
    width: nth($sprite, 2);
    height: nth($sprite, 3);
    background: url(#{$sprite-image}) $sprite-offset-x $sprite-offset-y no-repeat;
}

@mixin placeholder {
    &::-webkit-input-placeholder {
        @content;
    }
    &:-moz-placeholder {
        @content;
    }
    &::-moz-placeholder {
        @content;
    }
    &:-ms-input-placeholder {
        @content;
    }
}

// Breakpoints
@function breakpoint-next($name, $breakpoints: $breakpoints, $breakpoint-names: map-keys($breakpoints)) {
    $n: index($breakpoint-names, $name);
    @if not $n {
        @error "breakpoint `#{$name}` not found in `#{$breakpoints}`";
    }
    @return if($n < length($breakpoint-names), nth($breakpoint-names, $n + 1), null);
}

@function breakpoint-min($name, $breakpoints: $breakpoints) {
    $min: map-get($breakpoints, $name);
    @return if($min != 0, $min, null);
}

@function breakpoint-max($name, $breakpoints: $breakpoints) {
    $max: map-get($breakpoints, $name);
    @return if($max and $max > 0, $max - 1, null);
}

@mixin media-min($name, $breakpoints: $breakpoints) {
    $min: breakpoint-min($name, $breakpoints);
    @if $min {
        @media (min-width: $min) {
            @content;
        }
    } @else {
        @content;
    }
}

@mixin media-max($name, $breakpoints: $breakpoints) {
    $max: breakpoint-max($name, $breakpoints);
    @if $max {
        @media (max-width: $max) {
            @content;
        }
    } @else {
        @content;
    }
}

@mixin media-only($name, $breakpoints: $breakpoints) {
    $min: breakpoint-min($name, $breakpoints);
    $next: breakpoint-next($name, $breakpoints);
    $max: breakpoint-max($next);

    @if $min != null and $max != null {
        @media (min-width: $min) and (max-width: $max) {
            @content;
        }
    } @else if $max == null {
        @include media-max($name, $breakpoints) {
            @content;
        }
    } @else if $min == null {
        @include media-min($next, $breakpoints) {
            @content;
        }
    }
}
