<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    {{#if @global.publicPath }}
        <base href="{{ @global.publicPath }}">
    {{/if}}
    {{#block "head"}}
        <link rel="stylesheet" href="css/vendor.css" />
        <link rel="stylesheet" href="css/main.css" />
        <link rel="stylesheet" href="css/media.css" media="(max-width: 1024px)" />
    {{/block}}
</head>
<body>
{{#block "header"}}{{/block}}
{{#block "main"}}{{/block}}
{{#block "footer"}}{{/block}}

{{#block "scripts"}}
    <script src="js/vendor.js"></script>
    <script src="js/main.js"></script>
{{/block}}
</body>
</html>